@page "/chat"
@inject ISemanticBot bot

<PageTitle>Chat</PageTitle>

<div>
    <input type="text" @bind-value="@Ask" />
    <button @onclick="AddInteraction">Add</button>
    <button @onclick="AddRandom">Add</button>
</div>


@foreach (var item in Items)
{
    <ChatInteractionCard Item="item" />
}

@code {
    public List<ChatInteraction> Items { get; set; } = new List<ChatInteraction>();
    public string Ask { get; set; } = string.Empty;
    public string Answer { get; set; } = string.Empty;

    int idx = 1;

    async Task AddInteraction()
    {        
        var answer = await bot.Send(Ask);        
        Items.Insert(0, new ChatInteraction(Ask, Answer, TimeSpan.FromSeconds(2.3)));
    }

    void AddRandom()
    {
        Items.Insert(0, new ChatInteraction(
            $"What time is it in New York City? Aswer using a decent format.#{idx++} was '{Ask}'",
            $"It is not {DateTime.Now} in New York city. I don't go no time!",
            TimeSpan.FromSeconds(2.3)
        ));
    }   
}