@page "/chat"
@inject ISemanticBot bot

<PageTitle>Chat</PageTitle>

<div style="height: calc(100vh - 80px); border: 1px solid green; padding: 10px;">
    <div style="height: calc(100% - 40px); overflow-y: auto; border-bottom: 1px solid blue; padding-bottom: 10px;">
        @foreach (var item in Items)
        {
            <ChatInteractionCard Item="item" />
        }
    </div>

    <div style="height: 40px; display: flex; justify-content: space-between; align-items: center; border-top: 1px solid green; padding-top: 10px;">
        <input type="text" @bind-value="@Ask" style="flex: 1; padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;" />
        <button @onclick="AddInteraction" style="padding: 5px 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">Add</button>
        <button @onclick="AddRandom" style="padding: 5px 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">Add Random</button>
    </div>
</div>

@code {
    public List<ChatInteraction> Items { get; set; } = new List<ChatInteraction>();
    public string Ask { get; set; } = string.Empty;
    public string Answer { get; set; } = string.Empty;

    int idx = 1;

    async Task AddInteraction()
    {
        var answer = await bot.Send(Ask);
        Items.Insert(0, new ChatInteraction(Ask, Answer, TimeSpan.FromSeconds(2.3)));
    }

    void AddRandom()
    {
        Items.Insert(0, new ChatInteraction(
            $"What time is it in New York City? Aswer using a decent format.#{idx++} was '{Ask}'",
            $"It is not {DateTime.Now} in New York city. I don't go no time!",
            TimeSpan.FromSeconds(2.3)
        ));
    }
}
