@page "/chat"
@inject ISemanticBot Bot
@inject IJSRuntime JSRuntime

@using Microsoft.JSInterop

<PageTitle>Chat</PageTitle>

<div class="chat-container">
    <div class="chat-history" @ref="chatHistoryRef">
        @foreach (var item in Bot.GetHistory())
        {
            <ChatInteractionCard Item="item" />
        }
    </div>

    <div class="user-input">
        <input type="text" @bind-value="@Ask" />
        <button @onclick="SendPrompt">Add</button>
        <button @onclick="RecallAllMemories">Recall Memory</button>
    </div>
</div>

@code {
    public ElementReference chatHistoryRef;

    private string Ask { get; set; } = "I am Alessandro and I am 47 years old";

    async Task SendPrompt()
    {
        var answer = await Bot.Send(Ask);        

        await InvokeAsync(async () => await ScrollToBottomAsync(chatHistoryRef));
        Ask = string.Empty;
    }

    Task RecallAllMemories()
    {
        string[] BasicQuestions =
        {
            "Say all that you remember from our chat so far.",
            "What is my name?",
            "What is my age?",
    };

        Ask = BasicQuestions[new Random().Next(0, BasicQuestions.Length - 1)];
        return SendPrompt();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ScrollToBottomAsync(chatHistoryRef);
        }
    }

    [JSInvokable("scrollToBottom")]
    public async Task ScrollToBottomAsync(ElementReference element)
    {
        // TODO: this does not work right. There's an item left out at the bottom...
        await JSRuntime.InvokeVoidAsync(
            "eval", 
            "document.querySelector('.chat-history > :last-child')?.scrollIntoView({ block: 'end' });");
    }


}
