@using ChatApp.ChatBox;

@page "/chat"
@inject IChatBot ChatBot

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<p>
    Enter some text in the prompt
</p>

<p>
    @*<input type="text" maxlength="400" @bind="@prompt" placeholder="Your prompt..." />*@
    <textarea rows="3" cols="60" name="prompt" @bind="@prompt" placeholder="Your prompt..."></textarea>
</p>

<p>
    <button class="btn btn-primary" @onclick="SendPrompt">Send</button>
</p>

<p>
    <textarea rows="5" cols="60" name="response" @bind="@response" placeholder="The response..."></textarea>
</p>

<p>
    <textarea rows="15" cols="60" name="history" @bind="@history" placeholder="The history..."></textarea>
</p>


@code {
    string prompt = "What is my name?";
    string response = string.Empty;
    string history = string.Empty;

    async Task SendPrompt()
    {
        response = await ChatBot.Chat(prompt);
        history = ChatBot.GetHistory();
    }
}
