<div class="card">
    <div class="card-header">
        @Item.Prompt
    </div>
    <div class="card-body">
        <h6 class="card-title">@Math.Round(Item.Duration.TotalMilliseconds)</h6>
        <p class="card-text">@Item.Reply</p>        
    </div>
</div>

@code {
    [Parameter]
    public required ChatInteraction Item { get; set; }
}