@using static Microsoft.SemanticKernel.AI.ChatCompletion.ChatHistory;

<div class="card">
    <div class="card-header text-end">
        @Item.AuthorRole
    </div>
    <div class="card-body">
        <h6 class="card-title"></h6>
        <p class="card-text">@Item.Content</p>        
    </div>
</div>

@code {
    [Parameter]
    public required Message Item { get; set; }
}